<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>QueroJobs @ViewData["Title"]</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/QueroJobs.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
	<link rel="stylesheet" href="~/css/reset.css">
	<link rel="stylesheet" href="~/css/landing.css">
	<link rel="stylesheet" href="~/css/partners.css">
	<link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<p>QueroJobs</p>
				</a>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="FuncionarioCrud" asp-action="Formulario">
								<p>Para você</p>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="" asp-action="">
								<p>Para empresas</p>
							</a>
						</li>
						<li>
						</li>
					</ul>
				</div>

				<a class="navbar-brand" asp-area="" asp-controller="" asp-action="">
					<div class="circle">
						<p>INICIAR SESSÃO</p>
					</div>
				</a>

				<a class="navbar-brand" asp-area="" asp-controller="" asp-action="">
					<div class="circle">
						<p>CADASTRE-SE</p>
					</div>
				</a>

			</div>
		</nav>
	</header>
	@RenderBody()

	<footer class="footer text-muted" style="background-color: #09B7CE;">
		<div class="container">
			<p class="text-justify" style="text-align: center; color: white;">QueroJobs - 2022</p>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
