@model QueroJobsWEB.Models.RoleModel

@{
    ViewData["Title"] = "Criar cargo";
}

<h1>@ViewData["Title"]</h1>

<h4>Cargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de cargos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
