.apresentation {
    background-color: var(--azul);
}

h1 {
    text-align: center;
    font-size: 5vw;
}

.logo {
    color: var(--branco);
    text-align: left;
    font-size: 7vw;
    font-weight: 900;
    word-spacing: 0;
}

.body {
    min-height: 100vh;
}

.text_background_first {
    color: rgba(255, 255, 255, 0.15);
    font-size: 5vw;
    font-weight: 900;
}

.title_screen {
    color: var(--branco);
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

.form {
    margin: 0 auto;
}

.form-group {
    padding-top: 10px;
}

.step {
    height: 20px;
    width: 20px;
    margin: 30px 2px;
    background-color: var(--cinza-escuro);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: var(--azul);
}

/* Colocar essa caracterização no css genericon */
.button_success {
    background-color: var(--verde);
    margin-top: 20px;
    padding: 1% 5%;
    border-radius: 25px;
}

/* Colocar essa caracterização no css genericon */
.button_back {
    background-color: var(--amarelo);
    margin-top: 20px;
    padding: 1% 5%;
    border-radius: 25px;
}
