.apresentation {
    background-color: var(--azul);
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20%;
    overflow-y: visible;
}

h1 {
    text-align: center;
    font-size: 5vw;
}

.logo {
    color: var(--branco);
    text-align: left;
    font-size: 7vw;
    font-weight: 900;
}

.body {
    min-height: 100vh;
}

.text_background_first {
    color: rgba(255, 255, 255, 0.15);
    font-size: 5vw;
    font-weight: 900;

}

.title_screen {
    color: var(--branco);
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

.form {
    margin: 0 auto;
}

.form-group {
    padding-top: 10px;
}

.space_form {
    margin-left: 50%;
}

.word_style {
    line-height: 100%;
    margin-top: 9%;
}
