@model QueroJobsWEB.Models.FormModel

@{
    ViewData["Title"] = "Currículo";
}
<div class="container px-5">
    <h1 id="form-title">@ViewData["Title"]</h1>

    <form asp-action="Form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CandidateId" type="hidden" />
        <h4>Dados Gerais</h4>
        <hr />
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="OccupationAreaNames" class="control-label"></label>
                <input asp-for ="OccupationAreaNames" class="form-control"/>
                <span asp-validation-for="OccupationAreaNames" class="text-danger"></span>
            </div>
            <div class="form-group pl-4 col-3">
                <label asp-for="SalaryExpectation" class="control-label"></label>
                <input asp-for="SalaryExpectation" class="form-control" />
                <span asp-validation-for="SalaryExpectation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <select asp-for="EmploymentStatus" class="form-control">
                        <option value="NONE">Desempregado</option>
                        <option value="FULL-TIME">Tempo Integral</option>
                        <option value="PART-TIME">Meio Período</option>
                        <option value="FREELANCE">Freelancer</option>
                        <option value="CONTRACT">Contrato</option>
                        <option value="INTERNSHIP">Estagiário</option>
                        <option value="APPRENTICESHIP">Aprendiz</option>
                        <option value="LEADERSHIP-PROGRAM">Lider</option>
                        <option value="INDIRECT-CONTRACT">Contrato Indireto</option>
                    </select>
                <span asp-validation-for="EmploymentStatus" class="text-danger"></span>
            </div>
        </div>

        <h4>Escolaridade</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Scholarity" class="control-label col-3"></label>
            <input asp-for="Scholarity" class="form-control" />
            <span asp-validation-for="Scholarity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Course" class="control-label"></label>
            <input asp-for="Course" class="form-control" />
            <span asp-validation-for="Course" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Instituion" class="control-label"></label>
            <input asp-for="Instituion" class="form-control" />
            <span asp-validation-for="Instituion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ScholarityStartDate" class="control-label"></label>
            <input asp-for="ScholarityStartDate" class="form-control" />
            <span asp-validation-for="ScholarityStartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ScholarityEndDate" class="control-label"></label>
            <input asp-for="ScholarityEndDate" class="form-control" />
            <span asp-validation-for="ScholarityEndDate" class="text-danger"></span>
        </div>

        <h4>Experiência Profissional</h4>
        <hr />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <input asp-for="Role" class="form-control" />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalExperienceStartMonth" class="control-label"></label>
                    <input asp-for="ProfessionalExperienceStartMonth" class="form-control" />
                    <span asp-validation-for="ProfessionalExperienceStartMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalExperienceEndMonth" class="control-label"></label>
                    <input asp-for="ProfessionalExperienceEndMonth" class="form-control" />
                    <span asp-validation-for="ProfessionalExperienceEndMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalExperienceStartYear" class="control-label"></label>
                    <input asp-for="ProfessionalExperienceStartYear" class="form-control" />
                    <span asp-validation-for="ProfessionalExperienceStartYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalExperienceEndYear" class="control-label"></label>
                    <input asp-for="ProfessionalExperienceEndYear" class="form-control" />
                    <span asp-validation-for="ProfessionalExperienceEndYear" class="text-danger"></span>
                </div>

            </div>
        </div>

        <h4>Fale sobre você</h4>
        <hr />

        <div class="form-group mb-2 d-flex flex-column gap-5">
            <textarea placeholder="Descrição sobre suas realizações" id="textarea-description" class="my-2" cols="80" rows="6"> </textarea>
        </div>

        <div class="button_success my-3">
            <input class="submit-button" type="submit" value="Concluir"/>
        </div>
    </form>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    inputStyleField();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
