@model QueroJobsWEB.Models.FormModel

@{
    ViewData["Title"] = "Formulário";
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="CandidateId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Formations" class="control-label"></label>
                @foreach (var item in Model.Formations)
                {
                    <input asp-for="@item.Course" class="form-control" />
                }
            </div>
            <div class="form-group">
                <label asp-for="EmploymentStatus" class="control-label"></label>
                <select asp-items="@Model.EmploymentStatus" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SalaryExpectation" class="control-label"></label>
                <input asp-for="SalaryExpectation" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
