@model QueroJobsWEB.Models.LoginCandidateModel

<div class="row body">
    <partial class="aside_block" name="~/Views/Shared/_candidateAside.cshtml"/>
    <div class="row apresentation_mobile">
        <div class="title_mobile">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5" style="">
                    <div class="row">
                        <h2>@ViewData["TitleForm"]</h2>
                    </div>
                    <div class="row" style="font-size: 20px;">
                        <p>@ViewData["Title"]</p>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 space_form">
        <h1>Login</h1>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control py-2 rounded-pill mr-1 pr-5" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control py-2 rounded-pill mr-1 pr-5" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="button_success">
                <input type="submit" name="" value="Entrar" class="btn btn-lg  submit-button" asp-controller="Candidate" asp-action="Login"/>
            </div>
        </form>
    </div>
    <div class="row info_login">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6" style="margin-left:20px">Não tenho conta!</div>
                <div class="col-sm" style="text-align:end">Esqueci minha senha!</div>
            </div>
        </div>
    </div>
</div>

<script>
    inputStyleField();
    paintFooter('var(--azul-escuro)');
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}