.landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--azul);
    padding: 20px 0 20px 0;
}

.landing__logo {
    color: #FFFFFF;
    text-align: left;
    font-size: 75px;
    font-weight: 900;
    width: 270px;
}

@media screen and (max-width: 730px) {

    .landing__logo {
        font-size: 60px;
        width: 215px;
    }

}

@media screen and (max-width: 600px) {

    .landing__logo {
        font-size: 40px;
        width: 145px;
    }

}

.landing__logo:last-of-type {
    color: rgba(255, 255, 255, 0.15);
}

.landing__button {
    position: relative;
}

.button__image {
    position: relative;
    width: 50vw;
    max-width: 400px;
    z-index: 2;
}

.button__tube {
    position: absolute;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    font-weight: 700;
    width: 260px;
    border: none;
    border-radius: 10px;
    background-color: #ffffffdc;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms;
    z-index: 2;
}

.button__tube:hover,
.button__tube:hover {
    background-color: #ffffff;
}

.first-tube {
    bottom: 0;
    left: -30px;
}

.last-tube {
    left: auto;
    right: -20px;
    bottom: 20px;
}

@media screen and (min-width: 1024px) {

    .button__tube {
        padding: 15px 80px 15px 80px;
        font-size: 26px;
        width: 420px;
    }

    .last-tube {
        right: -70px;
    }

}

@media screen and (max-width: 500px) {

    .button__tube {
        padding: 10px 30px 10px 30px;
        font-size: 15px;
        width: 230px;
    }

    .last-tube {
        right: -20px;
    }

}

@media screen and (max-width: 420px) {

    .button__tube {
        padding: 10px 30px 10px 30px;
        font-size: 13px;
        width: 180px;
    }

    .first-tube {
        bottom: 0;
        left: 0;
    }

    .last-tube {
        right: 0px;
        bottom: 0px;
    }

}

@media screen and (max-width: 370px) {

    .button__tube {
        padding: 10px 30px 10px 30px;
        font-size: 10px;
        width: 150px;
    }

}

.button__span--first, .button__span--last {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 40px;
    font-weight: 900;
    width: 240px;
    z-index: 1;
}

.button__span--first {
    top: 30px;
    left: -100px;
}

.button__span--last {
    bottom: -25px;
    right: -160px;
}

@media screen and (max-width: 1024px) {

    .button__span--first,
    .button__span--last {
        display: none;
    }

}