.apresentation {
    background-color: var(--roxo);
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20%;
    overflow-y: visible;
    padding-bottom: 20%;
}

.apresentation_mobile {
    display: none;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
}

.logo {
    color: var(--branco);
    text-align: left;
    font-size: 7vw;
    font-weight: 900;
}

.body {
    min-height: 100vh;
    background-color: var(--branco-escuro);
}

.text_background_first {
    color: rgba(255, 255, 255, 0.15);
    font-size: 5vw;
    font-weight: 900;
}

.title_screen {
    color: var(--branco);
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

.form {
    margin: 0 auto;
}

.form-group {
    padding-top: 10px;
}

.space_form {
    min-height: 100vh;
    margin-left: 50%;
}

.word_style {
    line-height: 100%;
    margin-top: 9%;
}

h2 {
    font-size: 50px;
}

@media only screen and (max-width: 670px) {
    .apresentation {
        display: none;
    }

    .space_form {
        margin: 0 auto;
        width: 100%;
    }

    .apresentation_mobile {
        background-color: var(--roxo);
        width: 100%;
        display: block;
        height: 150px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .title_mobile {
        text-align: end;
        color: var(--branco);
    }

    h1 {
        display: none;
    }
}

.word_style {
    line-height: 100%;
    margin-top: 9%;
}

.button_success {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 4%;
    margin-bottom: 4%;
}

@media only screen and (max-width: 574px) {
    .form {
        padding: 0 50px;
    }

    .title_mobile {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media only screen and (max-width: 1000px) {
    .apresentation {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.to-access{
    border-style: solid;
    border-color: red;
}
