@model QueroJobsWEB.Models.CompanyModel

@{
	ViewData["Title"] = "Editar empresa";
}

<h1>@ViewData["Title"]</h1>

<h4>Empresa</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="FantasyName" class="control-label"></label>
				<input asp-for="FantasyName" class="form-control" />
				<span asp-validation-for="FantasyName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Cep" class="control-label"></label>
				<input asp-for="Cep" class="form-control" />
				<span asp-validation-for="Cep" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Country" class="control-label"></label>
				<input asp-for="Country" class="form-control" />
				<span asp-validation-for="Country" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="State" class="control-label"></label>
				<input asp-for="State" class="form-control" />
				<span asp-validation-for="State" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="City" class="control-label"></label>
				<input asp-for="City" class="form-control" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="District" class="control-label"></label>
				<input asp-for="District" class="form-control" />
				<span asp-validation-for="District" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Street" class="control-label"></label>
				<input asp-for="Street" class="form-control" />
				<span asp-validation-for="Street" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="HouseNumber" class="control-label"></label>
				<input asp-for="HouseNumber" class="form-control" />
				<span asp-validation-for="HouseNumber" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Complement" class="control-label"></label>
				<input asp-for="Complement" class="form-control" />
				<span asp-validation-for="Complement" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CellphoneNumber" class="control-label"></label>
				<input asp-for="CellphoneNumber" class="form-control" />
				<span asp-validation-for="CellphoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="TelephoneNumber" class="control-label"></label>
				<input asp-for="TelephoneNumber" class="form-control" />
				<span asp-validation-for="TelephoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Cnpj" class="control-label"></label>
				<input asp-for="Cnpj" class="form-control" />
				<span asp-validation-for="Cnpj" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="StateRegistration" class="control-label"></label>
				<input asp-for="StateRegistration" class="form-control" />
				<span asp-validation-for="StateRegistration" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CorporateName" class="control-label"></label>
				<input asp-for="CorporateName" class="form-control" />
				<span asp-validation-for="CorporateName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ResponsibleName" class="control-label"></label>
				<input asp-for="ResponsibleName" class="form-control" />
				<span asp-validation-for="ResponsibleName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" name="" value="Submit" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar para lista de empresas</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    }