@page
@model LoginModel
<link rel="stylesheet" href="~/css/styles.css">

<div class="row body">
    <partial class="aside_block" name="~/Views/Candidate/_CandidateAside.cshtml"/>
    <div class="row apresentation_mobile">
        <div class="title_mobile">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="row">
                        <h2>@ViewData["TitleForm"]</h2>
                    </div>
                    <div class="row" style="font-size: 20px;">
                        <p>@ViewData["Title"]</p>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 space_form">
        <h1>Login</h1>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control py-2 rounded-pill mr-1 pr-5" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control py-2 rounded-pill mr-1 pr-5" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            @*<div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>*@
            <div class="button_success">
                <button id="login-submit" type="submit" class="btn btn-lg submit-button">Entrar</button>
            </div>
        </form>
    </div>
    <div class="row info_login">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6" style="margin-left:20px">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Não tenho conta!</a>
                </div>
                <div class="col-sm" style="text-align:end">
                    <a id="forgot-password" asp-page="./ForgotPassword">Esqueci minha senha!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    inputStyleField();
    paintFooter('var(--azul-escuro)');
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}