@model QueroJobsWEB.Models.VacancyModel

@{
    ViewData["Title"] = "Criar vaga";
}

<h1>@ViewData["Title"]</h1>

<div class="v1067_150">
    <div class="v1067_151">
        </div><div class="v1067_152">
            </div>
            <div class="column">
                <span class="v1067_159">Área de atuação</span>
                <input class="v1067_158"/>
            </div>

            <!--
            <span class="v1067_153">Nome da vaga*</span>
            <span class="v1067_154">Dados Gerais</span>
            <input class="v1067_158"></input>
            <!-- <span class="v1067_159">Área de atuação</span> -->
            <div class="v1067_160"></div>
            <span class="v1067_161">Salário base*</span>
            <div class="v1067_166"></div>
            <div class="v1067_167"></div>
            <span class="v1067_168">Data de abertura*</span>
            <div class="v1067_169"></div>
            <span class="v1067_170">Data de fechamento*</span
            ><div class="v1067_253"></div>
            <span class="v1067_254">Carga Horária:*</span>
            <div class="v1067_255"></div>
            <span class="v1067_256">Escolaridade*</span>
            <div class="v1067_171"></div>
            <span class="v1067_172"> Nome do cargo*</span>
            <div class="v1067_177"></div>
            <span class="v1067_178">Localidade*</span>
            <div class="v1067_227"></div>
            <span class="v1067_228">Modalidade*</span>
            <div class="v1067_179"></div>
            <span class="v1067_180">Número de vagas*</span>
            <span class="v1067_181">ABERTURA DE VAGA</span>
            <div class="name"></div>
            <span class="v1067_185">Detalhes do anuncio</span>
            <div class="name"></div>
            <span class="v1067_225">Requisitos do cargo</span>
            <div class="name"></div>
            <span class="v1067_189">Descrição da vaga*</span>
            -->
            <!-- <div class="v1067_191">
                <div class="v1067_192"></div>
                <div class="v1067_193"><div class="v1067_194"></div>
                <div class="v1067_195"></div></div>
                <span class="v1067_196">QUEROJOBS 2022</span>
                </div><span class="v1067_197">Descrição e expecificações para a vaga</span>
                <div class="v1067_198"></div>
                <div class="v1067_199"></div>
                <div class="v1067_200"></div>
                <div class="v1067_201"></div>
                <div class="v1067_202"></div>
                <div class="v1067_207"></div>
                <div class="v1069_257"></div>
                <div class="v1067_230">
                    <div class="v1067_231"></div>
                <span class="v1067_232">DISPONIBILIZAR VAGA</span>
                </div>
                <div class="v1067_233">
                    <div class="v1067_234"></div>
                    <span class="v1067_235">Salvar</span>
                </div><div class="name"></div>
                <div class="v1067_242"></div>
                <span class="v1067_243">COMPETÊNCIAS:</span>
                <span class="v1067_244">Boa comunicação</span>
                <div class="v1067_245"></div>
                <span class="v1067_246">Trabalho em equipe</span>
                <div class="v1067_247"></div>
                <span class="v1067_248">+</span>
                <div class="v1067_249"></div>
                <span class="v1067_250">+</span>
                <div class="v1067_251"></div>
                <span class="v1067_252">+</span>
                <div class="v1067_208">
                    <div class="v1067_209"></div>
                    <span class="v1067_210">SUBMISSÕES</span>
                    <span class="v1067_211">PROCURAR VAGAS</span>
                    <span class="v1067_212">Olá, nome da empresa</span>
                    <div class="v1067_213"></div>
                    <span class="v1067_214">QUEROJOBS</span>
                </div><div class="name"></div>
                <div class="name"></div>
            </div>
            -->

<!--
<h4>Vaga</h4>

<hr />

<div class="container">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label asp-for="VacancyName" class="control-label"></label>
                    <input asp-for="VacancyName" class="form-control py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="VacancyName" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-6 form-group">
                    <label asp-for="OpenDate" class="control-label"></label>
                    <input asp-for="OpenDate" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="OpenDate" class="text-danger"></span>
                </div>
                <div class="col-sm-6 form-group">
                    <label asp-for="CloseDate" class="control-label"></label>
                    <input asp-for="CloseDate" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="CloseDate" class="text-danger"></span>
                </div>

            </div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Modality" class="control-label"></label>
                <select asp-for="Modality" class="form-control  py-2 rounded-pill mr-1 pr-5">
                    <option value="presencial">Presencial</option>
                    <option value="remota">Remota</option>
                    <option value="hibrida">Hibrida</option>
                </select>
                <span asp-validation-for="Modality" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Situation" class="control-label"></label>
                <input asp-for="Situation" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                <span asp-validation-for="Situation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Workload" class="control-label"></label>
                <input asp-for="Workload" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                <span asp-validation-for="Workload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control  py-2 rounded-pill mr-1 pr-5" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista de vagas</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
-->