@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --azul: #09B7CE;
    --azul-ceu: #B9E9EE;
    --azul-sonho: #D0F9FF;
    --cinza-claro: #DADADA;
    --roxo: #652ED8;
    --roxo-escuro: #6245A0;
    --verde: #7FD771;
    --verde-claro: #B9EFB0;
    --verde-escuro: #044750;
    --vermelho: #FF6969;
    --cinza: #f0f0f0;
    --cinza-escuro: #C4C4C4;
    --branco: #FFFFFF;
    --branco-escuro: #F4F9F8;
    --amarelo: #FFFA85;
}
