:root {
    --azul: #09B7CE;
    --azul-ceu: #B9E9EE;
    --azul-sonho: #D0F9FF;
    --cinza-claro: #DADADA;
    --roxo: #652ED8;
    --roxo-escuro: #6245A0;
    --verde: #7FD771;
    --verde-claro: #B9EFB0;
    --vermelho: #FF6969;
    --cinza: #f0f0f0;
    --cinza-escuro: #C4C4C4;
    --branco: #FFFFFF;
    --branco-escuro: #F4F9F8;
    --amarelo: #FFFA85;
}
