@model QueroJobsWEB.Models.ScholarityModel

@{
    ViewData["Title"] = "Criar escolaridade";
}

<h1>@ViewData["Title"]</h1>

<h4>Escolaridade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScholarityName" class="control-label"></label>
                <input asp-for="ScholarityName" class="form-control" />
                <span asp-validation-for="ScholarityName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista de escolaridades</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }