@{
    ViewData["Title"] = "Home Page";
}

<div class="landing">
    <p class="landing__logo">QUERO JOBS</p>
    <div class="landing__button">
        <img class="button__image" src="./assets/images/landing__image-one.png" />
        <button class="button__tube first-tube">ENCONTRE AQUI SUA VAGA</button>
        <span class="button__span--first">QUERO JOBS</span>
    </div>
    <div class="landing__button">
        <img class="button__image" src="./assets/images/landing__image-two.png" />
        <button class="button__tube last-tube">ENCONTRE AQUI SEU FUNCIONÁRIO</button>
        <span class="button__span--last">QUERO JOBS</span>
    </div>
    <p class="landing__logo less-opacity">QUERO JOBS</p>
</div>
<div class="partners">
    <h3 class="partners__title">Empresas parceiras</h3>
    <div class="partners__item"></div>
</div>
