@{
    ViewData["Title"] = "Home Page";
}

<div class="landing">
    <p class="logo">QUERO JOBS</p>
    <div class="button">
        <img class="button_image" src="./assets/images/landing__image-one.png" />
        <button class="button_tube first_tube">ENCONTRE AQUI SUA VAGA</button>
        <span class="text_background_first">QUERO JOBS</span>
    </div>
    <div class="button">
        <img class="button_image" src="./assets/images/landing__image-two.png" />
        <button class="button_tube last_tube">ENCONTRE AQUI SEU FUNCIONÁRIO</button>
        <span class="text_background_last">QUERO JOBS</span>
    </div>
    <p class="logo less-opacity">QUERO JOBS</p>
</div>
<div class="partners">
    <h3 class="partners__title">Empresas parceiras</h3>
    <div class="partners__item"></div>
</div>
