.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-ceu);
    height: 200px;
}

.landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--azul);
    padding: 20px 0 20px 0;
}

.logo {
    color: var(--branco);
    text-align: left;
    font-size: 75px;
    font-weight: 900;
    width: 270px;
}

@media screen and (max-width: 730px) {

    .logo {
        font-size: 60px;
        width: 215px;
    }

}

@media screen and (max-width: 600px) {

    .logo {
        font-size: 40px;
        width: 145px;
    }

}

.logo:last-of-type {
    color: rgba(255, 255, 255, 0.15);
}

.button {
    position: relative;
}

.button_image {
    position: relative;
    width: 50vw;
    max-width: 400px;
    z-index: 2;
}

.button_tube {
    position: absolute;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    font-weight: 700;
    width: 260px;
    border: none;
    border-radius: 10px;
    background-color: #ffffffdc;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms;
    z-index: 2;
}

.button_tube:hover,
.button_tube:hover {
    background-color: #ffffff;
}

.first_tube {
    bottom: 0;
    left: -30px;
}

.last_tube {
    left: auto;
    right: -20px;
    bottom: 20px;
}

@media screen and (min-width: 1024px) {

    .button_tube {
        padding: 15px 80px 15px 80px;
        font-size: 26px;
        width: 420px;
    }

    .last_tube {
        right: -70px;
    }

}

@media screen and (max-width: 500px) {

    .button_tube {
        padding: 10px 30px 10px 30px;
        font-size: 15px;
        width: 230px;
    }

    .last_tube {
        right: -20px;
    }

}

@media screen and (max-width: 420px) {

    .button_tube {
        padding: 10px 30px 10px 30px;
        font-size: 13px;
        width: 180px;
    }

    .first_tube {
        bottom: 0;
        left: 0;
    }

    .last_tube {
        right: 0px;
        bottom: 0px;
    }

}

@media screen and (max-width: 370px) {

    .button_tube {
        padding: 10px 30px 10px 30px;
        font-size: 10px;
        width: 150px;
    }

}

.text_background_first, .text_background_last {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    font-size: 40px;
    font-weight: 900;
    width: 240px;
    z-index: 1;
}

.text_background_first {
    top: 30px;
    left: -100px;
}

.text_background_last {
    bottom: -25px;
    right: -160px;
}

@media screen and (max-width: 1024px) {

    .text_background_first,
    .text_background_last {
        display: none;
    }

}
.landing {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}